# Entorno virtual
.venv/

# Variables
.env

# Caché de Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Archivos generados
*.csv
*.txt
# Excepción
!requirements.txt



# Carpetas temporales
imagenes/
pdfs/
descargas/

# Archivos HTML generados
pagina*.html